---
import MainLayout from "../layout/main-layout.astro"

---

<MainLayout title="Home page" id="home" >
  
    <div class="relative top-[400px] ">
        <h1 class="ml-[100px] mt-[-400px]  text-[80px] text-white w-[900px] font-semibold relative z-10">Brand.<span class="text-[#ffffff47]">Design</span>.<span class="text-[#ffffff47]">Product</span>.
          in-hous development.
          &more 
        </h1>
        
        
        <div class="relative  h-[104px] w-[2059px]">
          <div class="bg-white h-[104px] w-[1659px] rotate-[50.709deg] absolute right-[-110px] top-[-250px] flex overflow-hidden gap-10">
              <ul class="flex gap-[50px] justify-center items-center" id="list1">
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">marketing</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">motion</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">animation</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                  <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">Brnding</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
              </ul>
              <ul class="flex gap-[50px] justify-center items-center" id="list2">
                
                <li class="text-black mt-[20px] font-bold text-[40px]">marketing</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">motion</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">animation</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                  <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
                </svg>
                <li class="text-black mt-[20px] font-bold text-[40px]">Brnding</li>
                <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
                </svg>
              </ul>
          </div>
        </div>

        <div class="relative h-[104px] w-[2059px]">
          <div class="bg-[#212121] h-[104px] w-[2459px] rotate-[-15.952deg] absolute left-[-250px] bottom-[180px] flex overflow-hidden gap-10">
            <ul class="flex gap-[50px] justify-center items-center" id="list3">
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">marketing</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">motion</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">animation</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">Brnding</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
            </ul>
            <ul class="flex gap-[50px] justify-center items-center" id="list4">
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">marketing</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">motion</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <ellipse cx="8.49911" cy="8.16452" rx="8" ry="8.5" transform="rotate(57.66 8.49911 8.16452)" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">animation</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                <ellipse cx="8.8504" cy="8.92188" rx="8" ry="8.5" fill="#FF7E21"/>
              </svg>
              <li class="text-white mt-[20px] font-bold text-[40px]">Brnding</li>
              <svg class="mt-[30px]" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <ellipse cx="9.1672" cy="9.0112" rx="8" ry="8.5" transform="rotate(57.66 9.1672 9.0112)" fill="#FF7E21"/>
              </svg>
            </ul>
        </div>
        </div>
    </div>
  
</MainLayout>


<style lang="scss">

#g-logo{
    -webkit-text-stroke-width: 1 !important;
      //  -webkit-text-stroke-color:2px #e2cdcd;
      -webkit-text-stroke: 3px rgba(54, 54, 54, 1)  !important;
      //  color: #363636;
      color: gba(54, 54, 54, 1)  !important;
      font-family: Poppins  !important;
      font-size: 454px  !important;
      font-style: normal  !important;
      font-weight: 400  !important;
      line-height: 170%  !important; /* 771.8px */
      text-transform: lowercase  !important;
}
   

#list2{
    /* opacity: 0 !important; */
    animation-name: list2;
    animation-duration: 33s;
    animation-iteration-count: infinite;
}
#list1{
    animation-name: list1;
    animation-duration: 33s;
    animation-iteration-count: infinite;
}

  @keyframes list1{
    0%{
      transform: translateX(0px);
    }
    20%{
      transform: translateX(450px);
    }
    25%{
      opacity: 0;
      transform: translateX(-1900px);
    }

    28%{
      opacity: 1;
    }
    
    100%{
      transform: translateX(0px)
    }
  }

  @keyframes list1{
    0%{
      transform: translateX(0px);
    }
    40%{
      transform: translateX(1700px);
    }

    50%{
      opacity: 0;
      transform: translate(-800px);
    }

    53%{
      opacity: 1;
    }


    100%{
      transform: translateX(0);
    }
  }



  #list4{
    /* opacity: 0 !important; */
    animation-name: list4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }
  #list3{
    animation-name: list3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }

  @keyframes list4{
    0%{
      transform: translateX(0px);
    }
    20%{
      transform: translateX(800px);
    }
    23%{
      opacity: 0;
      transform: translateX(-2300px);
    }

    30%{
      opacity: 1;
    }
    
    100%{
      transform: translateX(0px)
    }
  }

  @keyframes list3{
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(2400px);
    }

    60%{
      opacity: 0;
      transform: translate(-800px);
    }

    70%{
      opacity: 1;
    }


    100%{
      transform: translateX(0);
    }
  }
</style>
